ul {
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

.login {
  background: #007BFF;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainsite {
  background: #fafafa;
  color: #333333;
}

.infobox {
  background: #FFFFFF;
  height: 85vh;
  margin-left: 4vw;
  margin-right: 4vw;
  border-radius: 10px;
  padding-top: 3vh;
}

.infolist {
  height: 67vh;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 10px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  overflow-y: scroll;
}

.infoadd {
  padding-top: 3vh;
}

.infolist::-webkit-scrollbar {
  display: none;
}

.add-btn {
  background: #49DFC6;
  color: #000000;
  border-radius: 20px;
  font-weight: 600;
  padding: 4px 20px 4px 20px;
}

.neg-btn {
  background: #F9594A;
  color: #000000;
  border-radius: 20px;
  font-weight: 600;
  padding: 4px 20px 4px 20px;
}

.course-card {
  background: #F6F6F6;
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 1vw;
}

.card {
  border-radius: 20px;
}

.card-header {
  background: #007BFF;
}

.card-header:first-child {
  border-radius: 20px;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #49DFC6;
}

.site-header .navbar-nav .nav-link.active {
  color: #49DFC6;
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.infoform {
  background: #ffffff;
  padding: 3vh 5vh;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.asteriskField {
  display: none;
}

.marker-1 {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(../images/marker1.png);
}

.marker-2 {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(../images/marker1.png);
}
