{% extends "main/base.html" %}
{% block content %}
	{% if arg == 3 %}

	{% elif arg == 1 %}
		<!-- Event -->
		<div id='map' style="position:fixed; top:56px; left:0; width:75%; height:93%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></div>
<!-- 		<div id="menu">
		<input
		id="streets-v11"
		type="radio"
		name="rtoggle"
		value="streets"
		checked="checked"
		/>
		<label for="3d">3D</label>
		<input id="egrelayson/ck6g46xh90e581imre9to3w6h" type="radio" name="rtoggle" value="3d" />
		<label for="streets">streets</label>
		<input id="mapbox/light-v10" type="radio" name="rtoggle" value="light" />
		<label for="light">light</label>
		<input id="mapbox/dark-v10" type="radio" name="rtoggle" value="dark" />
		<label for="dark">dark</label>
		<input id="mapbox/outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
		<label for="outdoors">outdoors</label>
		<input id="mapbox/satellite-v9" type="radio" name="rtoggle" value="satellite" />
		<label for="satellite">satellite</label>
		</div> -->
		<script>
		mapboxgl.accessToken = "{{ user.profile.mapbox_key }}";
		var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/egrelayson/ck8n618dc0acb1imqcnm6vi92',
		center: [121.098434, 14.648697], // starting position
		zoom: 18, // starting zoom
		pitch: 40,
		bearing: 20,
		antialias: true,
		});

		// Layerswitch
		// var layerList = document.getElementById('menu');
		// var inputs = layerList.getElementsByTagName('input');
		 
		// function switchLayer(layer) {
		// var layerId = layer.target.id;
		// map.setStyle('mapbox://styles/' + layerId);
		// }
		 
		// for (var i = 0; i < inputs.length; i++) {
		// inputs[i].onclick = switchLayer;
		// }

		// Add scale bar to map
		map.addControl(new mapboxgl.ScaleControl({maxWidth:100}));

		var geocoder = new MapboxGeocoder({ // Initialize the geocoder
			  accessToken: mapboxgl.accessToken, // Set the access token
			  mapboxgl: mapboxgl, // Set the mapbox-gl instance
			  marker: false, // Do not use the default marker style
			});

		// Add the geocoder to the map
		map.addControl(geocoder);

		// Add geolocate control to the map.
		map.addControl(
			new mapboxgl.GeolocateControl({
				positionOptions: {
					enableHighAccuracy: true
				},
				trackUserLocation: true
			})
		);

		// Add zoom and rotation controls to the map.
		map.addControl(new mapboxgl.NavigationControl());

		// Add fullscreen control
		map.addControl(new mapboxgl.FullscreenControl());

		// Markers layer
		map.on('click', function(e) {
		  var features = map.queryRenderedFeatures(e.point, {
		    layers: ['roosevelt-events'] // replace this with the name of the layer
		  });

		  if (!features.length) {
		    return;
		  }

		  var feature = features[0];

		  var popup = new mapboxgl.Popup({ offset: [0, -15] })
			    .setLngLat(feature.geometry.coordinates)
			    .setHTML('<p>' + feature.properties.name + '</p><p>' + feature.properties.date + ', ' + feature.properties.time + '</p><p>Target Population: ' + feature.properties.target_population)
			    .addTo(map);
		});

		// // The 'building' layer in the mapbox-streets vector source contains building-height
		// // data from OpenStreetMap.
		map.on('load', function() {
		// // Insert the layer beneath any symbol layer.
			var layers = map.getStyle().layers;
			 
			var labelLayerId;
			for (var i = 0; i < layers.length; i++) {
				if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
					labelLayerId = layers[i].id;
					break;
				}
			}

			map.addLayer({
				'id': '3d-buildings',
				'source': 'composite',
				'source-layer': 'building',
				'filter': ['==', 'extrude', 'true'],
				'type': 'fill-extrusion',
				'minzoom': 15,
				'paint': {
					'fill-extrusion-color': '#aaa',
					 
					// use an 'interpolate' expression to add a smooth transition effect to the
					// buildings as the user zooms in
					'fill-extrusion-height': [
					"interpolate", ["linear"], ["zoom"],
					15, 0,
					15.05, ["get", "height"]
					],
					'fill-extrusion-base': [
					"interpolate", ["linear"], ["zoom"],
					15, 0,
					15.05, ["get", "min_height"]
					],
					'fill-extrusion-opacity': .6
				}
			}, labelLayerId);
		});

		</script>

	{% elif arg == 2 %}
	<!-- Place -->
		<div id='map' style="position:fixed; top:56px; left:0; width:75%; height:93%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></div>
		<script>
		mapboxgl.accessToken = "{{ user.profile.mapbox_key }}";
		var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/egrelayson/ck8n5mk6j09ad1ipalerogr60',
		center: [121.098434, 14.648697], // starting position
		zoom: 18, // starting zoom
		pitch: 40,
		bearing: 20,
		antialias: true,
		});

		// Add scale bar to map
		map.addControl(new mapboxgl.ScaleControl({maxWidth:100}));

		var geocoder = new MapboxGeocoder({ // Initialize the geocoder
		  accessToken: mapboxgl.accessToken, // Set the access token
		  mapboxgl: mapboxgl, // Set the mapbox-gl instance
		  marker: false, // Do not use the default marker style
		});

		// Add the geocoder to the map
		map.addControl(geocoder);

		// Add geolocate control to the map.
		map.addControl(
			new mapboxgl.GeolocateControl({
				positionOptions: {
					enableHighAccuracy: true
				},
				trackUserLocation: true
			})
		);

		// Add zoom and rotation controls to the map.
		map.addControl(new mapboxgl.NavigationControl());

		// Add fullscreen control
		map.addControl(new mapboxgl.FullscreenControl());

		map.on('click', function(e) {
		  var features = map.queryRenderedFeatures(e.point, {
		    layers: ['roosevelt-food', 'roosevelt-health', 'roosevelt-finance', 'roosevelt-store'] // replace this with the name of the layer
		  });

		  if (!features.length) {
		    return;
		  }

		  var feature = features[0];

		  var popup = new mapboxgl.Popup({ offset: [0, -15] })
		    .setLngLat(feature.geometry.coordinates)
		    .setHTML('<p>' + feature.properties.Name + '</p><p>' + feature.properties.Address + '</p><p>' + feature.properties.Contact + '</p><p>' + feature.properties.Hours)
		    .addTo(map);
		});

		// // The 'building' layer in the mapbox-streets vector source contains building-height
		// // data from OpenStreetMap.
		map.on('load', function() {
		// // Insert the layer beneath any symbol layer.
			var layers = map.getStyle().layers;
			 
			var labelLayerId;
			for (var i = 0; i < layers.length; i++) {
				if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
					labelLayerId = layers[i].id;
					break;
				}
			}

			map.addLayer({
				'id': '3d-buildings',
				'source': 'composite',
				'source-layer': 'building',
				'filter': ['==', 'extrude', 'true'],
				'type': 'fill-extrusion',
				'minzoom': 15,
				'paint': {
					'fill-extrusion-color': '#aaa',
					 
					// use an 'interpolate' expression to add a smooth transition effect to the
					// buildings as the user zooms in
					'fill-extrusion-height': [
					"interpolate", ["linear"], ["zoom"],
					15, 0,
					15.05, ["get", "height"]
					],
					'fill-extrusion-base': [
					"interpolate", ["linear"], ["zoom"],
					15, 0,
					15.05, ["get", "min_height"]
					],
					'fill-extrusion-opacity': .6
				}
			}, labelLayerId);
		});

		</script>
	{% endif %}

	{% if arg == 3 %}
	<!-- <a class="btn btn-primary disabled mt-1 mb-1" href="{% url 'imap-index' 3 %}" role="button">All</a> -->
	{% else %}
 	<!-- <a class="btn btn-primary mt-1 mb-1" href="{% url 'imap-index' 3 %}" role="button">All</a> -->
  	{% endif %}

  	<div class="row">
	  <div class="col">w</div>
	  <div class="col">h</div>
	  <div class="col">a</div>
	  <div class="col">
	    <div>
	      	{% if arg ==  1 %}
			<a class="btn btn-primary disabled mt-1 mb-1" href="{% url 'imap-index' 1 %}" role="button">Event</a>
			{% else %}
	     	<a class="btn btn-primary mt-1 mb-1" href="{% url 'imap-index' 1 %}" role="button">Event</a>
	      	{% endif %}
	      	{% if arg == 2 %}
			<a class="btn btn-primary disabled mt-1 mb-1" href="{% url 'imap-index' 2 %}" role="button">Place</a>
			{% else %}
	     	<a class="btn btn-primary mt-1 mb-1" href="{% url 'imap-index' 2 %}" role="button">Place</a>
	      	{% endif %}
	  	</div>
		{% for suggestion in suggestions %}
			<article class="media content-section">
			  <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="#">{{ suggestion.desc }}</a>
			      <small class="text-muted">{{ suggestion.date_posted|date:"F d, Y" }}</small>
			      <div>
				      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'suggestion-update' suggestion.id %}" role="button">Edit</a>
				      <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'suggestion-delete' suggestion.id %}" role="button">Delete</a>
			  	  </div>
			    </div>
			    
			    {% if suggestion.cud == 1 %}
			    		Create
		    	{% elif suggestion.cud == 2 %}
		    		Update
		    	{% else %}
		    		Delete
		    	{% endif %}

		    	{% if suggestion.stype == 1 %}
		    		Event
		    	{% else %}
		    		Place
		    	{% endif %} <br>

			    {% if suggestion.cud == 2 %}
			    	Previous Name: {{ suggestion.prev_name }} <br>
			    {% endif %}
			    	
			    Name: {{ suggestion.name }} <br>

			    {% if suggestion.cud == 2 %}
		    		Previous Coordinates: [{{ suggestion.prev_latitude }}, {{ suggestion.prev_longitude }}] <br>
		    	{% endif %}

			    Coordinates: [{{ suggestion.latitude }}, {{ suggestion.longitude }}]
			  </div>
			</article>
		{% endfor %}

		<div class="container">
			<div class="row">
				<div class="col-sm">

					<a class="btn btn-primary btn-lg" href="{% url 'suggestion-create' %}" role="button">Add Suggestion</a>

				</div>
				<div class="col-sm"></div>
				<div class="col-sm-left">
					{% if is_paginated %}

						{% if page_obj.has_previous %}
							<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
							<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
						{% endif %}

						{% for num in page_obj.paginator.page_range %}
							{% if page_obj.number == num %}
								<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
							{% elif  num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
								<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
							{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
							<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
							<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
						{% endif %}

					{% endif %}
				</div>
			</div>
		</div>

		<div><small class="text-muted">
		  <a class="ml-2" href="{% url 'imap-menu' %}">Back to the Interactive Map Menu</a>
		</small></div>
	</div>
</div>
{% endblock content %}