{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Suggestion</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<script src='https://www.google.com/recaptcha/api.js'></script>
   	 			<div class="g-recaptcha" data-sitekey="6LcaregUAAAAAHQd7sOZVLNu94YP-IOenZcI5UBF"></div>
				<button class="btn btn-outline-info" type="submit">Post</button>
			</div>
		</form>
	</div>
	<small class="text-muted">
		<a class="ml-2" href="{% url 'imap-index' 3 %}">Back to the Interactive Map</a>
	</small>
</div>
{% endblock content %}