{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--   <h1>{{ user.username }}</h1>
  {{ user.profile.mapbox_key }}
  {{ user.profile.new_game_dataset_link }}
  {{ user.profile.event_markers_dataset_link }}
  {{ user.profile.place_markers_dataset_link }}
  {{ user.profile.live_chat_link }}
  {{ user.profile.chatbot_tree_link }} -->


  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.logo.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.profile.school_name }}</h2>
        <p class="text-secondary">{{ user.profile.contact_details }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
  </div>
{% endblock content %}