{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="content-section">
    <div class="row">
      <div class="col-9">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ active_profile.logo.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ active_profile.school_name }}</h2>
            <p class="text-secondary">{{ active_profile.contact_details|linebreaks }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <p align="right">
          {% if user.is_authenticated %}
            <a class="btn" href="{% url 'pupdate' %}"><i class="icon-edit"></i> Configure</a>
          {% endif %}
        </p>
      </div>
    </div>
      {% if user.is_authenticated %}
      <h1>{{ user.username }}</h1>
      <p>Mapbox key: {{ user.profile.mapbox_key }}</p>
      <p>New Game Markers Dataset: {{ user.profile.newgame_markers_dataset_link }}</p>
      <p>Event Markers Dataset: {{ user.profile.event_markers_dataset_link }}</p>
      <p>Health Markers Dataset: {{ user.profile.health_markers_dataset_link }}</p>
      <p>Food Markers Dataset: {{ user.profile.food_markers_dataset_link }}</p>
      <p>Finance Markers Dataset: {{ user.profile.finance_markers_dataset_link }}</p>
      <p>Store Markers Dataset: {{ user.profile.store_markers_dataset_link }}</p>
      <p>Etc Markers Dataset: {{ user.profile.etc_markers_dataset_link }}</p>
      <p>Live Chat: {{ user.profile.live_chat_link }}</p>
      <p>Chatbot Tree: {{ user.profile.chatbot_tree_link }}</p>
      {% endif %}
    </div>
</div>
{% endblock content %}