{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <div class="content-section">
          <img class="rounded-circle" src="{% static "images/mapbox.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2><a href="{% url 'imap-menu' %}">Interactive Map</a></h2>
          <p>View nearby places and events, or view an animation of the registration process.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <div class="content-section">
          <img class="rounded-circle" src="{% static "images/snatchbot.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2><a href="{% url 'chatbot-index' %}">Chatbot</a></h2>
          <p>Have any questions about the college? Inquire with Roosevelt CRM's Chatbot.</p>
          {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Configure
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" target="_blank" href="https://account.snatchbot.me/conversation">Manage Live Chat</a>
              <a class="dropdown-item" target="_blank" href="https://account.snatchbot.me/edit/78018">Chatbot Tree</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <div class="content-section">
          <img class="rounded-circle" src="{% static "images/mention.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2><a href="#">Social Listening</a></h2>
          <p>Info placeholder.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}